/* TABLE OF CONTENTS

0. Reset
1. Layout
2. Theme
3. Slider
4. Skip to Main Content

*/

/* 0. Reset */
* {
  box-sizing: border-box;
}

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figure, figcaption, footer, header,
menu, nav, output, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.5;
  font-size: 1.2rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  background-color: #fff;
  color: #212529;
}

ul {
  list-style-type: disc;
  padding-left: 2em;
  margin-bottom: 1em;
}

li {
  padding-bottom: .5em;
  line-height: 1.3em;
}

p {
  margin-bottom: 1em;
}

button {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

picture {
  vertical-align: bottom;
}

picture img {
  vertical-align: bottom;
  max-width: 100%;
  width: 100%;
  height: auto;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}


/* 1. Layout */

body > header {
  margin-bottom: 1.5rem;
}

body > header h1 {
  margin-top: 1rem;
}

@media screen and (min-width: 500px) {
  body > header {
    margin-bottom: 3rem;
  }

  body > header h1 {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 580px) {
  body > header h1 br {
    display: none;
  }
}

main {
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

@media screen and (min-width: 576px) {
  main {
    padding: 0 2em;
  }
}

h3 {
  margin-top: 1.5rem;
}

.two-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.two-columns .column {
  flex: 0 0 auto;
  margin-bottom: 1.5em;
  width: 100%;
}

@media screen and (min-width: 650px) {
  .two-columns .column {
    width: 48%;
  }
}

@media screen and (min-width: 768px) {
  .two-columns .column {
    width: 40%;
  }
}

@media screen and (min-width: 1000px) {
  .two-columns .column {
    width: 33%;
  }
}


/* 2. Theme */
h1 {
  font-family: serif;
  font-size: 2.5rem;
}

@media screen and (min-width: 350px) {
  h1 {
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 400px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 3.3rem;
  }
}

@media screen and (min-width: 650px) {
  h1 {
    font-size: 3.7rem;
  }
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1100px) {
  h1 {
    font-size: 5.5rem;
  }
}

h2 {
  border-bottom: 3px solid gray;
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

footer {
  background-color: #343a40;
  color: #f8f9fa;
  font-size: 0.8em;
  padding: 1.5rem 1rem;
  margin-top: 3rem;
}

@media screen and (min-width: 576px) {
  footer {
    font-size: 1em;
    padding: 2rem 2rem 3rem;
  }
}

.text-center {
  text-align: center;
}

/* 3. Slider */
.slider-wrapper {
  position: relative;
  transition: 300ms;
  margin-bottom: 1.5em;
}

@media screen and (min-width: 500px) {
  .slider-wrapper {
    margin-bottom: 3em;
  }
}

.slider {
  position: relative;
  height: 100%;
}

.slider-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: 300ms;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .slider-item {
    padding: 20px 5%;
  }
}

.slider-item.active {
  opacity: 1;
  visibility: visible;
}

.slider-item img {
  width: 100%;
  border: 1px solid gray;
}

.slider-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0;
}

.slider-nav button {
  cursor: pointer;
  font-size: 3em;
  background: none;
  border: none;
  display: none;
}

@media screen and (min-width: 576px) {
  .slider-nav button {
    display: initial;
  }

  .slider-nav button.previous-slide {
    margin-left: -30px;
  }

  .slider-nav button.next-slide {
    margin-right: -30px;
  }
}

@media screen and (min-width: 768px) {
  .slider-nav button.previous-slide {
    margin-left: 0;
  }

  .slider-nav button.next-slide {
    margin-right: 0;
  }
}

/* 4. Skip to Main Content */
#main-content {
  position: relative;
  top: -4em;
}

a[href="#main-content"] {
  z-index: 999;
  position: fixed;
  top: -100px;
  padding: 0.5em 1em 0.75em;
  left: 30px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px -3px 20px -2px #000;
  background-color: #fff;
  color: #000;
  border: 3px solid #000;
}

a[href="#main-content"]:focus, a[href="#main-content"]:active {
  top: -3px;
  text-decoration: underline;
  outline: none;
}
